* {
    margin: 0;
    padding: 0;
}

body {
    background:#0067af url(images/fondo.jpg) top repeat-x;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1, header h2 {
    width: 50%;
    height: 100%;
    display: inline-block;
}

